input:invalid {
    border: 2px solid red;
}

.bookmark {
    width: 250px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid darkgray;
    background-color: lavender;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        column-gap: 4px;
    }
}
