<div class="overview">
    <form id="bookmarkForm" [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
            <p class="overview__bookmark-label">Give Stanley a bookmark</p>
            <input
                type="url"
                formControlName="url"
                placeholder="https://www.example.com"
                size="30"
            />
        </label>

        <button
            class="overview__add-bookmark"
            type="submit"
            form="bookmarkForm"
            [disabled]="form.invalid"
        >
            Add
        </button>
        <div class="overview__form-errors">
            @if (form.invalid && (form.dirty || !form.untouched)) {
                @if (form.controls.url.errors?.['invalidUrl']) {
                    <p class="overview__form-error">Please enter a valid URL</p>
                }

                @if (form.controls.url.errors?.['nonExistentUrl']) {
                    <p class="overview__form-error">
                        Please enter a URL which exists
                    </p>
                }
            }
        </div>
    </form>
    <div class="overview__list">
        @for (bookmark of visibleBookmarks(); track bookmark.id) {
            <app-bookmark [bookmark]="bookmark"></app-bookmark>
        }
    </div>
    <app-pagination
        [totalItems]="bookmarks().length"
        [pageNumber]="page()"
        [itemsPerPage]="PAGE_SIZE"
        (pageChanged)="pageChanged($event)"
    ></app-pagination>
</div>
